.weather-description {
    text-transform: capitalize;
}


h1, h3, .search, .weatherContainer {
    display: grid;
    place-items: center;
}

body {
    background-image: url(./weather-background.png);
    font-family: 'DotGothic16', sans-serif;
    color: antiquewhite;
}

button {
    margin: 5px 5px;
    font-family: 'DotGothic16', sans-serif;
    color: antiquewhite;
    background: none;
    border: none;
    cursor: pointer;
}